.edit-product {
    border: none;
    outline: 0;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
    text-decoration: none;
}