<h3>Admin Dashboard: </h3> <br>
<h3>Welcome {{user.firstName}} {{user.lastName}}</h3> <br>

<div>
    <h4>Edit Products</h4>
    <div>
        <button><a href="/user/productAdd">Add Product</a></button>
        {{!-- <a href="/products/list">Products</a> --}}
        <button>Update Product</button>
        <button>Delete Product</button>
    </div>
</div>